body {
    background: black;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
}

#instructions {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    text-align: center;
    padding: 32px;
    margin: 0px;
    display: inline;
    border: 2px solid white;
}

#help {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 4px;
    color: white;
}

#info {
    position: absolute;
    left: 0px;
    top: 0px;
	padding: 4px;
	color: yellow;
}
#level {
    color: yellow;
    font-weight: bold;
}
#timer {
    color: yellow;
	font-weight: bold;
	font-size: 2rem;
}

#joyDiv {
	width:100%;height:100%;
	position: absolute;bottom:0;left:0;
}
#joyDiv #joystick{
	width:200px;height:200px;margin-bottom:20px;margin:50px;
	position: absolute;bottom:0;left:0;
}

#score {
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 32px;
    margin: 0px;
    border: 2px solid white;
    position: absolute;
    width: 300px;
    height: 400px;
    text-align: center;
    /* font-size: 1rem; */
}
#score_table {
    overflow: auto;
	margin: 1rem 0 0;
    height: calc(100% - 6rem);
}
#score_table table {
	margin: 0 auto;
	font-size: 1rem;
    color: #fff;
}
#score_table table th {
	padding-right: 1rem;
}